<h2>Login</h2>
<% if(req.session.message) {%>
  <h4><%= req.session.message %>
  <% req.session.message = null %>
<% } %>
<form method="post" action="/login">
  <div>
    <label>用户名:</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label>密码:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
