<!DOCTYPE html>
<html>
<head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/ladda.min.css">
</head>

<body>
<!-- Include the view file for the current controller/route -->
<%- body %>


<!--

  Client-side Javascript
  ========================

  You can import any js files in your `assets` directory as you would
  normally: using <script></script> tags.

  Here's an example of importing a few dependencies, in order:
-->
<!-- Bring in the socket.io client -->
<script type="text/javascript" src="/js/socket.io.js"></script>
<!-- then beef it up with some convenience logic for talking to Sails.js -->
<script type="text/javascript" src="/js/sails.io.js"></script>
<!-- listen on socket.io for incoming messages -->
<script type="text/javascript" src="/js/app.js"></script>
<!-- Your scripts here? -->
<!-- Your scripts here? -->
<!-- Your scripts here? -->

<!--

  Looking for client-side CoffeeScript or TypeScript?
  ================================================

  CoffeeScript and TypeScript precompilation are not installed by default,
  but if you'd like to mix those features in, it is straightforward to
  `npm install` the relevant grunt community modules and modify your Gruntfile
  to use them.

-->


<!--

  Another way: The Asset Linker
  ========================

  Sails supports a Grunt-based asset linker, to automatically inject
  <link> and <script> tags, as well any client-side templates you're using
  into your HTML layouts and views, respecting dependencies.

  You created this Sails app with the asset linker disabled.
  If you change your mind, check out the docs on the subject:
  http://sailsjs.org/#!documentation/asset-management

-->
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Jm4hT0XRbjXkakWS0jZlA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
        mode: 'feedback',
        primary_color: '#cc6d00',
        link_color: '#007dbf',
        forum_id: 234454,
        tab_label: '您的想法？',
        tab_color: '#cc6d00',
        tab_position: 'bottom-right',
        tab_inverted: false
    }]);
</script>
</body>
</html>
