<!DOCTYPE html>
<html>
<head>
    <!--
        For demonstration purposes, the `title` is dynamically set here based on
        your `sails.config.appName` to show that you can inject data into layouts
        exactly the same way as with your other view templates.
    -->
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!--

      Stylesheets
      ========================

      You can link any CSS, LESS, or image files in your `assets` directory
      as you would normally: using <link/> tags.
      
    -->

    <!--

      Support for LESS included by default
      ================================================

      LESS files are automatically compiled when they change using the Gruntfile
      located in the top-level of this Sails app.  If you run into issues with styles
      not reloading, check the Sails log output in your console for LESS compilation errors.
      If necessary, shut down and then lift your app again.
      
    -->

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="styles/ladda.min.css">
</head>

<body style="background:url(http://giovannifilippi.com/tourapp/img/bg-slider.jpg) 100% 100% no-repeat;background-size:cover">

   <header class="navbar">
    <div class="container">
      <a href=""><img src="">LOGO</a>
<!--      <ul class="nav-notification clearfix">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">登录</a>
                <ul class="dropdown-menu">  
                  <li>  
                    <div>
                <div class="panel-heading">
                      登录
                  </div>
                  <form>
                    <div class="panel-body">
                          <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                          </div>
                          <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                          </div>
                        </div>
                      <div class="panel-footer">
                          <button type="submit" class="btn btn-default">Submit</button>
                      </div>
                  </form>
              </div>
            </li>
                </ul>
            </li>
        </ul>-->
    </div>
   </header>

   <div class="main clearfix" style="position:relative;">
    <div class="bg" style="background: 100% 100% no-repeat;background-size:cover;position:absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 0;">
    </div>
    <div class="intro col-lg-8 col-md-8" style="text-align:center;color:#fff">
      <h2>教材同步的微视频</h2><h4>＋</h4><h2>自适应学习平台</h2><h4>＝</h4><h2>数字化学习的全程解决方案</h2>
    </div>
    
    <div class="login panel col-lg-3 col-md-3">
      <div class="panel-heading">
            <h4>登录</h4>
      </div>
      <div class="panel-body button-demo">
          <form method="post" action="/login">
              <div class="form-group">
                  <!--<label for="exampleInputEmail1">Email address</label> -->
                  <input type="text" class="form-control input-lg" id="" placeholder="用户名/邮箱" name="username">
              </div>
              <div class="form-group">
                  <!--<label for="exampleInputPassword1">Password</label> -->
                  <input type="password" class="form-control input-lg" id="" placeholder="密码" name="password">
              </div>
              <button type="submit" class="ladda-button btn btn-primary pull-right" data-style="expand-right" value="submit">
                <span class="ladda-label">登录</span>
                <span class="ladda-spinner"></span>
                <div class="ladda-progress" style="width: 0px;"></div>
              </button>
              <div class="form-group">
                  <label class="label-checkbox">
                    <input type="checkbox">
                    <span class="custom-checkbox"></span>
                    下次自动登录
                  </label>
              </div>
          </form>
      </div>

      <div class="panel-body">
          <form>
              <p>尚未开放注册</p>
              <button type="submit" class="btn btn-default col-md-12">申请试用</button>
          </form>
      </div>
    </div>
   </div>

<!-- Include the view file for the current controller/route -->
<% if(!req.session.user) { %>
<h3><a href="/register">Register</a></h3>
<h3><a href="/login">Login</a></h3>
<% }else{ %>
<h3>Wellcome, <%= req.session.user.username %></h3>
<a href="/logout">Logout </a>
<% } %>

<%- body %>


<!--

  Client-side Javascript
  ========================

  You can import any js files in your `assets` directory as you would
  normally: using <script></script> tags.

  Here's an example of importing a few dependencies, in order:
-->
<!-- Bring in the socket.io client -->
<script type="text/javascript" src="/js/socket.io.js"></script>
<!-- then beef it up with some convenience logic for talking to Sails.js -->
<script type="text/javascript" src="/js/sails.io.js"></script>
<!-- listen on socket.io for incoming messages -->
<script type="text/javascript" src="/js/app.js"></script>
<script src="js/spin.min.js"></script>
<script src="js/ladda.min.js"></script>
<!-- Your scripts here? -->
<!-- Your scripts here? -->
<!-- Your scripts here? -->

<!--

  Looking for client-side CoffeeScript or TypeScript?
  ================================================

  CoffeeScript and TypeScript precompilation are not installed by default,
  but if you'd like to mix those features in, it is straightforward to
  `npm install` the relevant grunt community modules and modify your Gruntfile
  to use them.

-->



<!--

  Another way: The Asset Linker
  ========================

  Sails supports a Grunt-based asset linker, to automatically inject
  <link> and <script> tags, as well any client-side templates you're using
  into your HTML layouts and views, respecting dependencies.

  You created this Sails app with the asset linker disabled.
  If you change your mind, check out the docs on the subject:
  http://sailsjs.org/#!documentation/asset-management

-->

<script type="text/javascript">


console.log("yo")
      // Bind normal buttons
      Ladda.bind( '.button-demo button', { timeout: 2000 } );

      // Bind progress buttons and simulate loading progress
      // You can control loading explicitly using the JavaScript API
      // as outlined below:

      // var l = Ladda.create( document.querySelector( 'button' ) );
      // l.start();
      // l.stop();
      // l.toggle();
      // l.isLoading();
      // l.setProgress( 0-1 );

    </script>

    <script>
    // Include the UserVoice JavaScript SDK (only needed once on a page)
    UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Jm4hT0XRbjXkakWS0jZlA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

    //
    // UserVoice Javascript SDK developer documentation:
    // https://www.uservoice.com/o/javascript-sdk
    //

    // Set colors
    UserVoice.push(['set', {
        accent_color: '#448dd6',
        trigger_color: 'white',
        trigger_background_color: 'rgba(46, 49, 51, 0.6)'
    }]);

    // Identify the user and pass traits
    // To enable, replace sample data with actual user traits and uncomment the line
    UserVoice.push(['identify', {
        //email:      'john.doe@example.com', // User’s email address
        //name:       'John Doe', // User’s real name
        //created_at: 1364406966, // Unix timestamp for the date the user signed up
        //id:         123, // Optional: Unique id of the user (if set, this should not change)
        //type:       'Owner', // Optional: segment your users by type
        //account: {
        //  id:           123, // Optional: associate multiple users with a single account
        //  name:         'Acme, Co.', // Account name
        //  created_at:   1364406966, // Unix timestamp for the date the account was created
        //  monthly_rate: 9.99, // Decimal; monthly rate of the account
        //  ltv:          1495.00, // Decimal; lifetime value of the account
        //  plan:         'Enhanced' // Plan name for the account
        //}
    }]);

    // Add default trigger to the bottom-right corner of the window:
    UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

    // Or, use your own custom trigger:
    //UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

    // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
    UserVoice.push(['autoprompt', {}]);
</script>

</body>
</html>
